
   body{
     font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    background: white;
    color: black;


   }
   
   #header { /* Верхний блок */
    padding: 10px;
    padding-right: 10px; /* Поля вокруг текста */
    ma
    background: white;
    color: white; /* Цвет фона */
    
   }
   #sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 3px solid #CCCCC3; /* Параметры рамки вокруг */
    border-radius: 15px;
    width: 15%; /* Ширина колонки */
    height: 15%;
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 5px 5px; /* Значения отступов */

   }

   .wrapper{
    min-height: 100%;
    margin-bottom: 0;
   }

   #content { /* Правая колонка */
    margin: 10px 300px 200px 300px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 3px solid #CCCCC3; /* Параметры рамки */
    border-radius: 15px;
    color: #f4f4f4;
    background: white;
   }
   #footer {
    position:  ; /* Фиксированное положение */
    left: 0; bottom: 0;/* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: white;
    color: #fff; /* Цвет текста */
    /*width: 100%;  Ширина слоя */
   }


   .text{
    font-size: 20px;
   }
   
   .nav__item{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 25px;
    margin: 2px;
    margin-left: 80px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
   }
  .nav__item{
    color: black;
    background: #CCCCC3;
   }
  .nav__content{

  }
  .nav__item:hover, .nav__item_active{
    background: #FCE196;
   }
   a{
    text-decoration: none;
    color: black;
   }

   h3{
    color: black;
   }
   h2 {
    margin-top: 0; /* Убираем отступ сверху */
   }
   h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: black ; /* Цвет текста */
   }
   p{
    color: black;
    font-size: 13px;
   }
