
   #header { /* Верхний блок */
    padding: 10px; /* Поля вокруг текста */
    background: #FFFFF4;
    color: #f4f4f4; /* Цвет фона */
   }
   #sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 20%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
   }
   #content { /* Правая колонка */
    margin: 10px 100px 500px 100px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
    color: #f4f4f4;
    background: #FFFFF4;
   }
   #footer {
    position: ; /* Фиксированное положение */
    left: 0; bottom: 0;/* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: #FFFFF4;
    color: #fff; /* Цвет текста */
    /*width: 100%;  Ширина слоя */
   }
   .nav__item{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 25px;
    margin: 2px;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
   }
  .nav__item{
    color: black;
    background: #CCCCC3;
   }
  .nav__content{

  }
  .nav__item:hover, .nav__item_active{
    background: #FCE196;
   }
